{% extends template.self %}

{% block javascript %}
    <script src="{{ "gitbook-plugin-exercises/jsrepl/jsrepl.js"|resolveAsset }}" id="jsrepl-script"></script>
    <script src="{{ "gitbook-plugin-exercises/browser-solc.min.js"|resolveAsset }}" type="text/javascript"></script>
    <!--<script src="{{ "gitbook-plugin-exercises/sol/Assert.sol"|resolveAsset }}" type="text/javascript"></script>-->
    {{ super() }}
{% endblock %}

{% block book_navigation %}
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
        <div class="modal-footer">
            <h3>Modal Footer</h3>
        </div>
    </div>

</div>
{{ super() }}
{% endblock %}
