{% extends template.self %}

{% block javascript %}
    <script src="{{ "gitbook-plugin-exercises/jsrepl/jsrepl.js"|resolveAsset }}" id="jsrepl-script"></script>
    <script src="{{ "gitbook-plugin-exercises/browser-solc.min.js"|resolveAsset }}" type="text/javascript"></script>
    <!--<script src="{{ "gitbook-plugin-exercises/sol/Assert.sol"|resolveAsset }}" type="text/javascript"></script>-->
    {{ super() }}
{% endblock %}

{% block book_navigation %}
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <!--<span class="close">&times;</span>-->
            <h3>Metamask configuration issue</h3>
        </div>
        <div class="modal-body">
            <img src="https://consensys.net/img/ventures/logos/metamask.png" style="vertical-align: middle" height="40"/>
            <!--<div class="metamask-logo-container" style="vertical-align: middle"></div>-->
            <span class="modal-message">Some text in the Modal Body</span>
        </div>
        <div class="modal-footer">
            <div class="group-buttons pull-right">
                <a><button class="button close" style="background-color: #fff">Remind me later</button></a>
                <a href="/0Introduction/metamask.html"><button class="button">Fix it now</button></a>
            </div>
        </div>
    </div>

</div>
{{ super() }}
{% endblock %}
