.block-exercise {
    display: block !important;
    padding: 0px;
    margin: 20px 0px;
    border: 3px solid #164f86;
    background: #fff;
    color: #333;
    font-family: sans-serif;
}

.block-exercise .exercise-header {
    padding: 5px 15px;
    color: #fff;
    background: #164f86;
    font-size: 20px;
}

.block-exercise .exercise-inner {
    margin: 8px;
}
